@model Photography.INVOICE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INVOICE</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CART.CartId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CART.CartId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
